$color-text: red;
$black: #000000;
$white:#fff;
$primary: #6e00ff;
$primary-lite: #d4b7ea;


$grey1:#f1f2f7;
$grey2:#b5b5b5;
$grey3:#f7f7f7;
$grey4:#6c757d;
$grey5:#e3e5fc;
$grey6:#cacce3;
$grey7:#e6dbfb;

$yellow:#ffeec6;
$yellow2:#fadb62;

$red:#ecbcbf;
$red2:#fcebed;
$red3:#ff9469;
$red4:#ff7a45;
$red5:#fe7a49;

$green:#a5dfcb;
$green2:#cef8ea;

$blue:#e6e0fa;
$blue2:#8447e7;
$blue3:#6d57fe;