<nav class="navbar p-0">
  <button
    class="btn btn-outline-secondary d-lg-none"
    data-bs-toggle="offcanvas"
    data-bs-target="#sidebar-left"
  >
    ☰
  </button>

  <span class="fw-semibold font-size-18">Dashboard</span>

  <div class="ms-auto">
<div class="search-wrapper" id="searchWrapper">
    <input
      type="text"
      class="search-input font-size-14 border-0"
      placeholder="Search"
      id="searchInput"
    />
    <button class="search-button d-flex justify-content-center align-items-center border-0" id="searchBtn">
      <span class="material-icons-round font-size-20">
search
</span>
    </button>
  </div>

  </div>
  <!-- Always visible -->
</nav>

