<div class="sidebar-wrapper pt-3 ps-4 pb-4 d-flex flex-column justify-content-between h-100">
  <aside class="sidebar bg-white d-flex flex-column ">
    <div class="d-flex align-items-center mb-0">
      <div class="me-0 logo-img d-flex align-items-center">
        <img src="/assets/images/logo.svg" alt="logo">
      </div>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item p-0">
        <a class="nav-link font-size-14 fw-semibold active d-flex align-items-center gap-2 fw-semibold">
          <span class="material-icons-round">grid_view</span>
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link font-size-14 text-grey d-flex align-items-center gap-3 fw-semibold">
          <span class="material-icons-round">work_outline</span>
          Jobs
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link font-size-14 text-grey d-flex align-items-center gap-3 fw-semibold">
          <span class="material-icons-round">event</span>
          Schedule
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link font-size-14 text-grey d-flex align-items-center gap-3 fw-semibold">
          <span class="material-icons-round">folder_open</span>
          Documents
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link font-size-14 text-grey d-flex align-items-center gap-3 fw-semibold">
          <span class="material-icons-round">bar_chart</span>
          Statistics
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link font-size-14 text-grey d-flex align-items-center gap-3 fw-semibold">
          <span class="material-icons-round">groups</span>
          Community
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link font-size-14 text-grey d-flex align-items-center gap-3 fw-semibold">
          <span class="material-icons-round">chat_bubble_outline</span>
          Messages
        </a>
      </li>

      <li class="nav-item mt-2">
        <a class="nav-link font-size-14 text-grey d-flex align-items-center gap-3 fw-semibold">
          <span class="material-icons-round">logout</span>
          Logout
        </a>
      </li>
    </ul>
  </aside>
<div class="mt-auto bottom-card">
 <div class="card premium-card col-10 col-sm-6 col-md-12 mt-4 pt-5 pb-4 w-100">
      
    <h5 class="fw-semibold mt-5">Upgrade to Premium</h5>
    <p class="small mb-3">Go Pro to unlock more features</p>
    <button class="btn btn-upgrade fw-semibold">Upgrade</button>
  </div>
</div>

</div>
