<div class="h-100 bg-white user-section">
 <div class="d-flex align-items-center gap-3 justify-content-end top-icons">
  <!-- Help -->
  <button class="btn p-0 icon-btn">
    <span class="material-icons-round font-size-20">
help_outline
</span>
  </button>

  <!-- Settings -->
  <button class="btn p-0 icon-btn">
    <span class="material-icons-round font-size-20">
settings
</span>
  </button>

  <!-- Profile dropdown -->
  <div class="dropdown">
    <button
      class="btn p-0 dropdown-toggle d-flex align-items-center gap-2 border-0"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://i.pravatar.cc/40"
        alt="profile"
        class="rounded-circle profile-img"
      />
      <span class="material-icons-round font-size-20">
keyboard_arrow_down
</span>
    </button>

    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Logout</a></li>
    </ul>
  </div>
</div>

  <div class="card profile-card border-0 text-center mb-4">
    <div class="rounded-circle mt-3 mx-auto mb-3">
      <img src="https://i.pravatar.cc/120?img=32" alt="user" />
    </div>

    <div class="card-body p-2">
      <h6 class="fw-semibold mb-1 font-size-14">Candace Jules</h6>
      <small class="text-grey d-block font-size-12 mb-1"
        >Director of Recruiting</small
      >
      <small
        class="color-primary font-size-11 d-flex justify-content-center align-items-center gap-2 fw-medium"
      >
        <span class="material-icons-round font-size-16"> location_on </span>
        New York, US</small
      >
    </div>
  </div>

  <!-- Jobs Posted -->
  <div class="mb-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h6 class="fw-semibold mb-0 font-size-14">Jobs Posted</h6>
      <button class="btn btn-sm btn-primary d-flex align-items-center font-size-11 justify-content-center">
        <span class="material-icons-round font-size-14"> add </span>
        Add
      </button>
    </div>

    <!-- Job Card -->
    <div class="card job-card orange text-white mb-4">
      <div class="card-body p-3">
        <div class="d-flex justify-content-start align-items-center gap-3">
          <div class="card-count font-size-14 d-flex justify-content-center align-items-center">95</div>
          <div>
            <h4 class="font-size-12">Sr. Android Developer</h4>
            <p class="m-0">Total Applications</p>
          </div>
        </div>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider"></span>
        </label>
      </div>
    </div>
    <div class="card job-card purple text-white mb-4">
      <div class="card-body p-3">
        <div class="d-flex justify-content-start align-items-center gap-3">
          <div class="card-count font-size-14 d-flex justify-content-center align-items-center">95</div>
          <div>
            <h4 class="font-size-12">Sr. Android Developer</h4>
            <p class="m-0">Total Applications</p>
          </div>
        </div>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </div>

  <!-- Reminders -->
  <div>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h6 class="fw-semibold font-size-14 mb-0">Reminders</h6>
      <span class="material-icons-round font-size-20">
        notifications_none
      </span>
    </div>
<div class="remind-box">
 <div class="card remind-card text-white blue">
      <div
        class="card-body p-0 d-flex justify-content-between align-items-start"
      >
        <div class="d-flex justify-content-start align-items-center gap-2">
          <div class="card-count font-size-14 d-flex justify-content-center align-items-center">
            <span class="material-icons-round font-size-20"> replay </span>
          </div>
          <div>
            <h4 class="font-size-10 fw-medium">
              Your subscription expires <span class="fw-bold">Today</span>
            </h4>
            <p class="m-0 font-size-11 fw-semibold text-purple">Renew now</p>
          </div>
        </div>
        <small class="m-0 font-size-10 text-grey">6:30PM</small>
      </div>
    </div>
    <div class="card remind-card text-white yellow">
      <div
        class="card-body p-0 d-flex justify-content-between align-items-start"
      >
        <div class="d-flex justify-content-start align-items-center gap-2">
          <div class="card-count font-size-14 d-flex justify-content-center align-items-center">
            <span class="material-icons-round"> insert_drive_file </span>
          </div>
          <div>
            <h4 class="font-size-10 fw-medium">
              There are <span class="fw-bold">4</span> new applications for
            </h4>
            <p class="m-0 font-size-11 fw-semibold">IOS Developer Post</p>
          </div>
        </div>
        <small class="m-0 font-size-10 text-grey">6:30PM</small>
      </div>
    </div>
    <div class="card remind-card text-white red">
      <div
        class="card-body p-0 d-flex justify-content-between align-items-start"
      >
        <div class="d-flex justify-content-start align-items-center gap-2">
          <div class="card-count font-size-14 d-flex justify-content-center align-items-center">
            <span class="material-icons-round font-size-20">
              highlight_off
            </span>
          </div>
          <div>
            <h4 class="font-size-10 fw-medium">
              you have closed the job post for
            </h4>
            <p class="m-0 font-size-11 fw-semibold">Design Lead</p>
          </div>
        </div>
        <small class="m-0 font-size-10 text-grey">6:30PM</small>
      </div>
    </div>
    <div class="card remind-card text-white green">
      <div
        class="card-body p-0 d-flex justify-content-between align-items-start"
      >
        <div class="d-flex justify-content-start align-items-center gap-2">
          <div class="card-count font-size-14 d-flex justify-content-center align-items-center">
            <span class="material-icons-round font-size-20"> folder_open </span>
          </div>
          <div>
            <h4 class="font-size-10 fw-medium">
             You have drafted a job post for
            </h4>
            <p class="m-0 font-size-11 fw-semibold">Web Developer</p>
          </div>
        </div>
        <small class="m-0 font-size-10 text-grey">6:30PM</small>
      </div>
    </div>
</div>
   
  </div>
</div>
